/* GENERAL */
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    color: white;
    font-family: 'Lora';
}
a{
    color: white;
}
body{
    background-color: #120210;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 25px;
    font-weight: bold;
}
p{
    font-size: 18px;
}
hr{
    width: 50%;
    padding: 5px;
    margin: 3% 2% 3% 2%;
    background-color: #800F75;
    border-color: #800F75;
}
.palabras-moradas{
    color: #800F75;
}
.btn-general, .btn-ver-mas{
    padding: 5px 30px 5px 30px;
    border-radius: 80px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #B715A6;
    text-align: center;
}
.btn-general{
    background-color: #B715A6;
}
.btn-general:hover{
    border-color: white;
}
.centrar-elementos{
    align-items: center;
    display: flex;
    justify-content: center;
}
/* header */
.header-general, .div-logo, .menu-principal,
.menu-principal ul, .menu-principal li{
    display: flex;
    align-items: center;
}
.header-general{
    width: 100%;
    background-color: #800F75;
    justify-content: space-between;
}
.div-logo{
    justify-content: flex-start;
}
.menu-principal{
    justify-content: flex-end;
}
.menu-principal li{
    padding: 20px;
}
.menu-principal a .menu-principal img, .img-icono{
    align-items: center;
}
.img-logo-header{
    width: 70px;
}
.img-icono{
    width: 20px;
    margin-right: 8px;
}
/* Footer */
.footer-general{
    background-color: #800F75;
    display: flex;
    justify-content: space-around;
}
.div-logo-footer{
    width: 40%;
}
.barra-vertical{
    width: 10px;
    margin: 1%;
    background-color: #B715A6;
    align-items: center;
}
.enlaces-footer{
    display: flex;
    align-items: center;
    width: 40%;
}
.enlaces-footer ul{
    width: 80%;
}
.enlaces-footer li {
    margin: 10%;
}
.img-logo-footer{
    width: 200px;
}

/* HOME */
.container-general, .div-info{
    flex-direction: column;
}
.div-info{
    text-align: center;
    width: 55%;
}
.img-carrusel{
    width: 100%;
}
.titulo, .subtitulo{
    padding: 10px;
}
.div-prox-eventos, .container-eventos{
    flex-wrap: wrap;
}
.div-prox-eventos h3{
    margin: 2%;
}
.card-evento{
    padding: 15px;
    margin: 1.5%;
    background-color: #800F75;
}
.card-evento:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.card-evento div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-evento{
    width: 400px;
}
.card-evento, .img-evento{
    border-radius: 15px;
}
.elemento-card{
    margin-top: 10px;
}
.btn-ver-mas{
    color: #B715A6;
    margin-bottom: 2%;
}
.btn-ver-mas:hover{
    background-color: #B715A6;
    color: white;
}
.solicitar-evento{
    width: 100%;
    height: 250px;
    background-color: #800F75;
    flex-direction: column;
}
.solicitar-evento h3, .solicitar-evento a{
    margin: 1%;
}
.container-valores{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    justify-content: space-between;
}
.div-valores{
    padding: 50px;
    text-align: center;
    width: 300px;
}
.div-valores p, .img-valores{
    margin: 2%;
}
.img-valores{
    width: 150px;
}

/* EVENTOS */
.container-filtros{
    /* width: 25%; */
    border-radius: 15px;
    background-color: #800F75;
    padding: 20px;
    margin: 20px;
}
.titulo-filtros{
    display: flex;
    align-items: center;
}
.titulo-filtros img{
    margin-right: 15px;
}
.div-filtros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
