/* GENERAL */
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    color: white;
}
a{
    color: white;
}
body{
    background-color: #120210;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 28px;
}
h5{

}
p{

}
hr{
    width: 50%;
    padding: 5px;
    margin: auto;
    background-color: #800F75;
    border-color: #800F75;
    opacity: 100%;
}
.palabras-moradas{
    color: #800F75;
}
/* header */
.header-general{
    width: 100%;
    background-color: #800F75;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-principal ul{
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
}
.menu-principal li{
    display: flex;
    align-items: center;
    padding: 20px;
}
.menu-principal a{
    align-items: center;
}
.img-logo-header{
    width: 70px;
}
.img-icono{
    width: 20px;
    align-items: center;
    margin-right: 8px;
}
/* Footer */
.footer-general{
    background-color: #800F75;
    display: flex;
    justify-content: space-around;
}
.div-logo-footer{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}
.barra-vertical{
    width: 10px;
    margin: 1%;
    background-color: #B715A6;
    align-items: center;
}
.enlaces-footer{
    display: flex;
    align-items: center;
    width: 40%;
}
.enlaces-footer ul{
    width: 80%;
}
.enlaces-footer li {
    margin: 10%;
}
.img-logo-footer{
    width: 200px;
}
/* HOME */

.container-home{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info-home{
    text-align: center;
    align-items: center;
    width: 55%;
}
.img-carrusel{
    width: 100%;
}
.titulo, .subtitulo{
    padding: 10px;
}
.container-eventos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-evento{
    padding: 1%;
    margin: 2%;
    border-radius: 15px;
    background-color: #800F75;
}
.img-evento{
    width: 400px;
}
